@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* UTILITY CLASSES */
.nowrap {
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	:root {
		--BG-COLOR: #1e1e1e;
		--FONT-COLOR: #fffaf0;
		--BG-COLOR-EXPENSE-ITEM: #4b4b4b;
		--FONT-COLOR-DIMMED: #bdbdbd;
	}
}

html {
	font-family: "Lato", sans-serif;
	scroll-behavior: smooth;
}

body {
	/* display: flex; */
	background-color: var(--BG-COLOR);
	color: var(--FONT-COLOR);
	min-height: 100vh;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	padding: 1rem;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: inherit;
}

a:hover,
a:focus {
	color: hsl(204, 75%, 43%);
}

a:active {
	color: hsl(234, 75%, 53%);
}

/* UTIL */
/* div, h1, h2, body {
  border: dotted 1px red;
} */
